.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo{
    width: 50%;
    height:50%;
    background-color: orangered;
    /*transition: transform 1s(duration) ease-in(forma en que se mueve) 2s(delay) ;*/
    animation: traslation 4s ease-in-out infinite/*Esto se utiliza para spiners infinitos mientras esta cargando*/ alternate /*Esto se utiliza mucho tambien animacion en reversa*/forwards;/*Aqui no se usa con hover s va a ejecutar de forma infinita*/
}

.padre:hover .hijo{
    /*transform: translateX(100%);*/
    /*background-color: blueviolet;*/
   animation-play-state: paused;/*Parar la animacion cuando pase el mouse*/
}

@keyframes traslation{
    0% {
        background-color: brown;
        transform: translateX(0%);
    }
    25%{
        background-color: red;
        transform:  translateX(100%) ; 
    }

    50% {
        background-color: darkorange;
        transform: translateX(100%) translateY(100%);
    }

    75%{
        background-color: yellowgreen;
        transform: translateX(0%) translateY(100%);
    }

    100%{
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
} 

/*OJO: Evitar utilizar muchas animaciones, puede saturar las webs*/