html{
    background-color: wheat;
}

.title{
    font-family:Helvetica;
    text-align: center;
}

.dogs{
    width: 300px;
}

.gallery{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.dogs:hover{
    opacity: 0.4;
    cursor: pointer;
}