*{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
}

span.frase{
    font-style: italic;
}

span.frase::before{
    content: '<< ';
    font-size: xx-small;
}

span.frase::after{
    content: '>> ';
    font-size: xx-small;
}

.libro{
    background-color: bisque;
    padding: 15px;
    font-family: Arial;
}

.libro p::first-letter{
    font-size: xx-large;
}

.libro p::first-line{
    color: orangered;
}

.libro p::selection{/*Customiza color y color de fondo cuando el usuario hace seleccion de un texto*/
    background-color: chocolate;
    color: lime;
}

.listado{
    list-style-type: square;
    margin: 20px;
}
.listado  li::marker{
    color: red;
}

.listado ul{
    list-style-type: square;
}

ol{
    margin-top: 20px;
}
