@use "mixins";

body{
    padding: 0;
    margin: 0;
}

.container{
   width:  100%;
    background-color: blanchedalmond ;
    min-height: 100vh;
    padding: 0.5rem;
}

h1{
    margin: 0;
    @include mixins.texto-formato();
}

p{
    @include mixins.texto-formato(#666666);
}

/*Ejemplo de como acceder a listas en css con scss*/
.listado{
    width: 10rem;
    background-color: aquamarine;
    padding: 0.5rem;

    ul{
        margin: 0 0.5rem;
        li{
            list-style: none;

            /*En este ejemplo definimos el hover mediante la anidacion diferente a css puro*/
            &:hover{
                color: white;
            }
        }
    }


}