@use "components";

@mixin section-display{
padding: 3rem;
width: 100%;
align-items: center;
max-width: 768px;
margin: auto;
}
body{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
    align-items: center;
}

.logo img{
    max-width: 7rem;
}

.sec-home{
    display: flex;
    @include section-display();
    .home-cta{
        flex: 1;
        .home-cta-text{
            color: components.$color-main;
            font-weight: 600;
        }
        .home-title{
            padding: 0;
            width: 20rem;
            font-size: 3rem;
        }
    }
   
}

.sec-features{
    @include section-display();
    .intro{
        text-align: center;
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 600;
        }
    }
    .features{
        display: flex;
        .text{
            max-width: 40%;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .icon-sm{

                }
                .description{
                    .desc-title{
                        font-size: 1.25rem;

                    }
                    .description-text{
                        font-size: 1rem;
                    }
                }
            }
        }
        /*.image{

        }*/
    }
     
}